@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /*  THEME 1 */

    /* Backgrounds */
    --Very-dark-desaturated-blue-background: hsl(222, 26%, 31%);
    --Very-dark-desaturated-blue-background-keypad-background: hsl(223, 31%, 20%);
    --Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
    /* Keys */
    --Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
    --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);

    --Redkey-background-toggle: hsl(6, 63%, 50%);
    --Dark-red-key-shadow: hsl(6, 70%, 34%);

    --Light-grayish-orange-key-background: hsl(30, 25%, 89%);
    --Grayish-orange-key-shadow:hsl(28, 16%, 65%);
    /* text */
    --Very-dark-grayish-blue:hsl(221, 14%, 31%);
    --White: hsl(0, 0%, 100%)
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--Very-dark-desaturated-blue-background);
}
.container{
    margin: 5%;
    width:25rem;
    min-height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    transition: all 0.4s ease-out;
}
.header{
    width: 100%;
    height: 6.25rem;
    /* padding: 1.5625rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
}
.left-side{
    font-weight: 500;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 100;
}
.toggle-number{
    font-size: .75rem;
    letter-spacing: .125rem;
    margin-bottom: .1875rem;
    padding-right: .0625rem;
}
.theme-div{
    display: inline-block;
    font-size: .625rem;
    padding-right: 1.5625rem;
    margin-top: .1875rem;
    letter-spacing: .0938rem;
}
.right-side-bottom{
    display: flex;
    flex-direction: row;
}
.tri-state-toggle{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.screen{
    width: 100%;
    padding: 1.5625rem;
    background-color:var(--Very-dark-desaturated-blue-screen-background);
    border-radius: 8px;
}
.screen-div{
    height: 3.125rem;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.value{
    color: white;
    font-weight: 700;
    font-size: 2.625rem;
    transition: all 0.4s ease-out;
}
.bottom-side{
    margin-top: 1.5625rem;
    height: 21.875rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-desaturated-blue-background-keypad-background);
    border-radius: 8px;
}
.numbers{
    height: inherit;
    width: 100%;
    padding: 1.5625rem 1.5625rem 0 1.5625rem;
    display: flex;
    flex-direction: column;
    
}
.row{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.button-view{
    padding-top: .25rem;
    width: 4.375rem;
    height: 2.8125rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.75rem;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--Light-grayish-orange-key-background);
    color: var(--Very-dark-desaturated-blue-background-keypad-background);
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 3px 0px 0px var(--Grayish-orange-key-shadow);
    transition: all 0.4s ease-out;
    cursor: pointer;
}
.del{
    color: var(--White);
    background-color: var(--Desaturated-dark-blue-key-background);
    font-size: 1.5625rem;
    font-weight: 400;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 3px 0px 0px var( --Desaturated-dark-blue-key-shadow);
    transition: all 0.4s ease-out;
}
.reset{
    width: 10.1875rem;
    color: var(--White);
    background-color: var(--Desaturated-dark-blue-key-background);
    font-size: 1.5625rem;
    font-weight: 400;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 3px 0px 0px var( --Desaturated-dark-blue-key-shadow);
    transition: all 0.4s ease-out;
}
.equal{
    width: 10.1875rem;
    color: var(--White);
    background-color: var(--Redkey-background-toggle);
    font-size: 1.5625rem;
    font-weight: 400;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 3px 0px 0px var(--Dark-red-key-shadow);
    transition: all 0.4s ease-out;
}
.button-view:hover{
    background-color: var(--White) ;
    transition: all 0.1s ease-out;
}
.del:hover{
    background-color: #A2B2E3;
}
.reset:hover{
    background-color: #A2B2E3;
}
.equal:hover{
    background-color: #F96C5B; 
}
@media only screen and (max-width: 24.375rem) {
    .container{
        margin: .625rem;
        width: 100%;
        min-height: 31.25rem;
        display: flex;
        flex-direction: column;
        justify-content:baseline;
        align-items: center;
    }
    .button-view{
        padding-top: .25rem;
        width: 3.4375rem;
        height: 2.5rem;
        border-radius: .5rem;
        border: none;
        font-size: 1.5625rem;
        font-family: 'League Spartan', sans-serif;
        background-color: var(--Light-grayish-orange-key-background);
        color: var(--Very-dark-desaturated-blue-background-keypad-background);
        -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
        box-shadow: 0px 3px 0px 0px var(--Grayish-orange-key-shadow);
    }
    .del{
        color: var(--White);
        background-color: var(--Desaturated-dark-blue-key-background);
        font-size: 1.375rem;
        font-weight: 400;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
        box-shadow: 0px 3px 0px 0px var( --Desaturated-dark-blue-key-shadow);
    }
    .reset{
        width: 45%;
        color: var(--White);
        background-color: var(--Desaturated-dark-blue-key-background);
        font-size: 1.375rem;
        font-weight: 400;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
        box-shadow: 0px 3px 0px 0px var( --Desaturated-dark-blue-key-shadow);
    }
    .equal{
        width: 45%;
        color: var(--White);
        background-color: var(--Redkey-background-toggle);
        font-size: 1.375rem;
        font-weight: 400;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4); 
        box-shadow: 0px 3px 0px 0px var(--Dark-red-key-shadow);
    }
    .value{
        color: white;
        font-weight: 700;
        font-size: 2.25rem;
    }

}